# DIA

## Temario:
- Tipos de datos
- Operaciones matematicas
- Operaciones con string
- Operaciones logicas
- Operaciones booleanas

## Tipos de datos

In [2]:
# Existen los datos:
enteros = 4
flotantes = 3.9
type(flotantes)

float

In [4]:
# Caracteres / Strings
caracteres = "a"
cadena_caracteres = "todas las letras que quieras"
type(cadena_caracteres)

str

In [9]:
# Booleanos
falso = False # falso es 0
verdadero = True # verdadero es 1

In [10]:
# Imprimir
print(enteros)
print(cadena_caracteres)

4
Hola Mundo

### El usuario tambien puede ingresar datos

In [13]:
# funcion input, el usuario puede ingresar cualquier tipo de datos y podemos guardarlo
# en alguna varibale
name = input("Mi nombre es: ")
print(name)

num = input("Ingresa un numero: ")
print(num + 2)

Mi nombre es: 2
2
Ingresa un numero: 2

TypeError: can only concatenate str (not "int") to str

In [16]:
num = int(input("Ingresar un numero: "))
print(num + 1)

Ingresar un numero: 1.4

ValueError: invalid literal for int() with base 10: '1.4'

## Operaciones Matematicas

In [18]:
# 4to Nivel de importancia
# Suma Ordinaria
print(3 + 4)
variable1, variable2 = 20, 40
print(variable1 + variable2)

# Resta Ordinaria
print(2 - 5)
v1 = 10.4
v2 = 15
resultado = v2 - v1
print(resultado)

7
60
-3
4.6

In [20]:
# 3er Nivel dew importancia
# Multiplicacion Oridinaria
print("Multiplicacion Ordinaria")
M1, M2 = 2, 3.14
print(M1 * M2)
# Division Ordinaria
print("-------------------")
print("Divison Ordinaria")
M1, M2, M3, M4, M5 , M6 = 2, 5 , 6, 5, 4, 5
print(M1 / M2)
print(M3 / M4)
print(M5 / M6)
# Division  de Piso
print("-----------------")
print("Division de Piso")
print(M1 // M2)
print(M3 // M4)
print(M5 // M6)

print (6 / 2 * 3)

Multiplicacion Ordinaria
6.28
-------------------
Divison Ordinaria
0.4
1.2
0.8
-----------------
Division de Piso
0
1
0
9.0

In [23]:
# Potencias
print("Potencias")
print(49 ** (1/2))
P1, P2 = 7, 2
print(P1 ** P2)

Potencias
7.0
49

In [26]:
# Area de un circulo
pi = 3.1416
r = 4
A = pi * (r ** 2)
A

50.2656

## Operacion String

In [28]:
HM = "Hola Mundo"
print(HM)

a, b = "ta", "co"
print(a + b) #concatena strings

Hola Mundo
taco

In [29]:
# Animal, debe tener un nombre, le debe gustar una fruta, debe tener una profesion
Animal = "Perro"
Nombre = "Gerundio"
Fruta = "Manzana"
Profesion = "Maestro"
print(f"Hola soy {Nombre} y soy un {Animal}. Me gusta la {Fruta} y soy {Profesion}")

Hola soy Gerundio y soy un Perro. Me gusta la Manzana y soy Maestro

## Operaciones Logicas

In [ ]:
# Empezamos con los operadores logicos <, >, <=, >=, and, or (SIEMPRE RETORNA BOOLEANO)

In [33]:
b1 = 4 > 5
b2 = 7 > 3
b3 = 14 > 14
b4 = 14 >= 14
print(b1)
print(b2)

False
True

In [34]:
# Quieres un sandwich con todo
pan = True
queso = True
mayonesa = True
jamon = False
print(pan and queso and mayonesa and jamon)

False

In [35]:
print(True * 20)
print(False * 10)

20
0