# Dia 3

## Temario
- Listas
- Tuplas
- Sets
- Diccionarios

# Estructuras de datos
Las estructuras de datos son formas de organizar informacion para trabajar con ellas de manera eficiente.

- Listas -> ordenadas, modificadas, permiten duplicados
- Tuplas -> ordenadas, inmutables, permiten duplicados
- Sets -> no son ordenados, no se permiten duplicados
- Diccionarios -> pares por clave:valor

Nota:
- Pilas (FILO - First In Last Out)
- Colas (FIFO - Fist In First Out)
- Listas enlazadaso o doblemente enlazadas

## Listas
Las listas son colecciones ordenadas que podemos modificar y almacenan elementos de distintos tipos de datos.

In [ ]:
lista_de_compras = ["manzanas", "pan", "leche", "huevos", "mantequilla", "queso", "jamon"]
print(lista_de_compras)
#

['manzanas', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamon']

In [ ]:
print(lista_de_compras[6])

jamon

In [ ]:
# Agregar elemento a la lista  .append()
lista_de_compras.append("sopa")
print(lista_de_compras)

['manzanas', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamon', 'sopa']

In [ ]:
# Agregar un elemento en una posicion
lista_de_compras.insert(1, "platano")
print(lista_de_compras)

['manzanas', 'platano', 'platano', 'platano', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamon', 'sopa']

In [ ]:
# Para eliminar un elemento de una lista existe el remove y el pop
lista_de_compras.remove("platano")
print(lista_de_compras)

['manzanas', 'platano', 'platano', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamon', 'sopa']

In [ ]:
# Existen 2 formas de usar el pop
lista_de_compras.pop() # sin nada dentro del parentesis borra el ultimo elemento
lista_de_compras.pop(2) # borra el elemento de la posicion que quieras
print(lista_de_compras)
# Nota: retorna el numero eliminado

['manzanas', 'platano', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamon']

In [ ]:
# Podemos recorrer el arreglo por medio de un for
for elementos in lista_de_compras:
  print(elementos)

manzanas
platano
pan
leche
huevos
mantequilla
queso
jamon

In [ ]:
# len() saca el tama√±o de la lista
print(len(lista_de_compras))
for i in range(len(lista_de_compras)):
  print(f"{i + 1} - {lista_de_compras[i]}")

8
1 - manzanas
2 - platano
3 - pan
4 - leche
5 - huevos
6 - mantequilla
7 - queso
8 - jamon

In [ ]:
promedios = [55.6, 97.5, 23.6, 97.5, 72.4, 100]
print(promedios)
promedios.sort() # sort() sirve para ordenar la lista de manera ascendente
print(promedios)
# ordenar una lista de manera descendente
promedios.sort(reverse = True)
print(promedios)

[55.6, 97.5, 23.6, 97.5, 72.4, 100]
[23.6, 55.6, 72.4, 97.5, 97.5, 100]
[100, 97.5, 97.5, 72.4, 55.6, 23.6]

In [ ]:
# Podemos ingresar al ultimo elemento de una lista
print(promedios[-1])

23.6

In [ ]:
# Encontrar el mayor y el menor de una lista
print(max(promedios))
print(min(promedios))

100
23.6

In [ ]:
# Declaracion y uso de matrices
calificaciones = [[100, 88, 93], [99, 56, 72]]
i = 1
for cali_i in calificaciones:
  print(f"\n Alumno {i}")
  j = 1
  for cali_j in cali_i:
    print(f" Cali {j}: {cali_j}")
    j += 1
  j = 0
  i += 1

 Alumno 1
 Cali 1: 100
 Cali 2: 88
 Cali 3: 93

 Alumno 2
 Cali 1: 99
 Cali 2: 56
 Cali 3: 72
[[100, 88, 93], [99, 56, 72]]

# Tuplas
Son colecciones ordenadas pero inmutables

In [ ]:
# Hagamos un programa donde guardemos fechas de nacimiento de un grupo en una tupla
fechas = ("10/10/05", "22/03/02", "17/04/04", "25/02/04")
fechas

('10/10/05', '22/03/02', '17/04/04', '25/02/04')

In [ ]:
# ES INMUTABLE
fechas.append("10/06/03")

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
# Convertir tupla en lista
fecha_lista = list(fechas) # Ya se pueden usar los comandos basicos de una lista

## Sets
Los sets son colecciones sin orden y que no permiten elementos duplicados

In [ ]:
nombre = {"Angel", "Eliud", "Diana", "Juan", "Juan"}
print(nombre)
print(type(nombre))

{'Eliud', 'Diana', 'Angel', 'Juan'}
<class 'set'>

In [ ]:
distintos_datos = {"Angel", 1, "Diana", "Juan", 4.8}
distintos_datos

{1, 4.8, 'Angel', 'Diana', 'Juan'}

In [ ]:
# Agregar add()
nombre.add("Leonardo")
nombre

{'Angel', 'Diana', 'Eliud', 'Juan', 'Leonardo'}

In [ ]:
print(nombre[2])

TypeError: 'set' object is not subscriptable

In [ ]:
nombre[2] = "Axel"

TypeError: 'set' object does not support item assignment

In [ ]:
# union
matutino = {20322, 22183, 123123, 53234}
vespertino = {20322,11111, 123124, 53236}
total_matriculas = matutino.union(vespertino)
print(total_matriculas)
total_matriculas = matutino | (vespertino)
print(total_matriculas)

{20322, 22183, 11111, 53234, 123123, 53236, 123124}
{20322, 22183, 11111, 53234, 123123, 53236, 123124}

In [ ]:
# interseccion
ca = {1234, 121, 646, 12414, 73434, 124124, 675234}
al = {1234, 111, 222, 333, 444}
ca_al = ca.intersection(al)
print(ca_al)
ca_al = ca & al
print(ca_al)

{1234}
{1234}

In [ ]:
# diferencia
solo_calculo = ca.difference(al)
print(solo_calculo)
solo_calculo = ca - al
print(solo_calculo)

{675234, 646, 121, 73434, 124124, 12414}
{675234, 646, 121, 73434, 124124, 12414}

In [ ]:
nombre = {"Angel", "Eliud", "Diana", "Juan", "Juan"}
#remove, pop
nombre.remove("Angel")
print(nombre)
nombre.pop()
print(nombre)

{'Eliud', 'Diana', 'Juan'}
{'Diana', 'Juan'}

In [ ]:
# Eliminar todo el set
nombre.clear()
nombre

set()

## Diccionarios
Los diccionarios son colecciones no ordenadas de pares clave:valor

In [ ]:
alumno = {
    "nombre": "Giovanni Briones",
    "edad": 21,
    "carrera": "LMAD",
    "semestre": 8,
    "promedio": 88,
    "calificaciones": [100, 94, 94, 97, 100]
}
print(type(alumno))
alumno

<class 'dict'>

{'nombre': 'Giovanni Briones',
 'edad': 21,
 'carrera': 'LMAD',
 'semestre': 8,
 'promedio': 88,
 'calificaciones': [100, 94, 94, 97, 100]}

In [ ]:
print("El alumno ", alumno["nombre"], " esta estudiando ", alumno["carrera"])

El alumno  Giovanni Briones  esta estudiando  LMAD

In [ ]:
# Agregar al diccionario
alumno["area preferida"] = "Soporte TI"
alumno

{'nombre': 'Giovanni Briones',
 'edad': 21,
 'carrera': 'LMAD',
 'semestre': 8,
 'promedio': 88,
 'calificaciones': [100, 94, 94, 97, 100],
 'area preferida': 'Soporte TI'}

In [ ]:
for valor in alumno:
  print(alumno[valor])

Giovanni Briones
21
LMAD
8
88
[100, 94, 94, 97, 100]
Soporte TI

In [ ]:
for clave, valor in alumno.items(): # devuelve una vista de todos los pares clave:valor del diccionario
  print(clave, ":", valor)

nombre : Giovanni Briones
edad : 21
carrera : LMAD
semestre : 8
promedio : 88
calificaciones : [100, 94, 94, 97, 100]
area preferida : Soporte TI

In [ ]:
# El metodo .clear() tambien se puede usar en los diccionarios
# Tenemos el .get que nos ayuda a obtener el valor de cierta clave
print(alumno.get("nombre"))

Giovanni Briones

In [ ]:
alumno_1 = alumno.items()
print(alumno_1)
print(type(alumno_1))
alumno_lista = list(alumno_1)
print(alumno_lista)
print(type(alumno_lista))
#

dict_items([('nombre', 'Giovanni Briones'), ('edad', 21), ('carrera', 'LMAD'), ('semestre', 8), ('promedio', 88), ('calificaciones', [100, 94, 94, 97, 100]), ('area preferida', 'Soporte TI')])
<class 'dict_items'>
[('nombre', 'Giovanni Briones'), ('edad', 21), ('carrera', 'LMAD'), ('semestre', 8), ('promedio', 88), ('calificaciones', [100, 94, 94, 97, 100]), ('area preferida', 'Soporte TI')]
<class 'list'>

In [ ]:
# El metodo .values() sirve para obtener los valores del diccionario tambien se puede usar en la interaccion
alumno_v = alumno.values()
print(type(alumno_v))
alumno_v

<class 'dict_values'>

dict_values(['Giovanni Briones', 21, 'LMAD', 8, 88, [100, 94, 94, 97, 100], 'Soporte TI'])

In [ ]:
if "carrera" in alumno:
  print("Existe carrera")
else:
  print("No existe carrera")

if("dinero") in alumno:
  print("Alumno tiene dinero")
else:
  print("Alumno no tiene dinero")

Existe carrera
Alumno no tiene dinero

In [ ]:
# .copy() copia todo el diccionario en una nueva variable
# .update() -> sirve para cambiar los valores
alumno.update({"semestre": 7})
alumno

{'nombre': 'Giovanni Briones',
 'edad': 21,
 'carrera': 'LMAD',
 'semestre': 7,
 'promedio': 88,
 'calificaciones': [100, 94, 94, 97, 100],
 'area preferida': 'Soporte TI'}